!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    / This file has been downloaded from Bootsnipp.com. Enjoy!
    %title Account in Navbar - Bootsnipp.com
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %link{href: "http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css", rel: "stylesheet"}/
    :css
      .navbar-login
      {
        width: 305px;
        padding: 10px;
        padding-bottom: 0px;
      }
      
      .navbar-login-session
      {
        padding: 10px;
        padding-bottom: 0px;
        padding-top: 0px;
      }
      
      .icon-size
      {
        font-size: 87px;
      }

      .content-panel {
        padding-left: 10%;
      }
    %script{src: "http://code.jquery.com/jquery-1.10.2.min.js"}
    %script{src: "http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"}
  %body
    .navbar.navbar-default.navbar-fixed-top{role: "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href: "#", target: "_blank"} RALLETS
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              %a{href: "#"} Sell
            %li.active
              %a{href: "http://bootsnipp.com/snippets/featured/nav-account-manager", target: "_blank"} Buy
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                About
                %span.caret
              %ul.dropdown-menu
                %li
                  %a{href: "#"} Link 2
          %ul.nav.navbar-nav.navbar-right
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                %span.glyphicon.glyphicon-user
                %strong Jie Feng
                %span.glyphicon.glyphicon-chevron-down
              %ul.dropdown-menu
                %li
                  .navbar-login
                    .row
                      .col-lg-4
                        %p.text-center
                          %span.glyphicon.glyphicon-user.icon-size
                      .col-lg-8
                        %p.text-left
                          %strong Jie Feng
                        %p.text-left.small jiefeng.hopkins@email.com
                        %p.text-left
                          %a.btn.btn-primary.btn-block.btn-sm{href: "#"} Actualizar Datos
                %li.divider
                %li
                  .navbar-login.navbar-login-session
                    .row
                      .col-lg-12
                        %p
                          %a.btn.btn-danger.btn-block{href: "#"} Logout
    .container

      %br
      %br
      %br
      %br

      .btn-group
        .btn.btn-default.txn_op.btc2str{href: "#"} 
          Sell Bitcoin
          %span.glyphicon.glyphicon-arrow-right
          Stellar

      .btn-group
        .btn.btn-default.txn_op.str2btc{href: "#"}
          Sell Stellar
          %span.glyphicon.glyphicon-arrow-right
          Bitcoin

      .btn-group
        .btn.btn-default.txn_op.receivecoin{href: "#"}
          %span.glyphicon.glyphicon-save
          Receive BTC/STR

      .btn-group
        .btn.btn-default.txn_op.sendcoin{href: "#"}
          %span.glyphicon.glyphicon-open
          Send BTC/STR

      .btn-group
        .btn.btn-default.txn_op.txn_history{href: "#"} 
          Transaction History

      .btn-group
        .btn.btn-default.txn_op.my_assets{href: "#"} 
          My Assets
      %hr
      .panel
        %p currently support six operations
      %hr





      .container.row.col-xs-3
        %ul.nav.nav-pills.nav-stacked
          %li.active.trigger-p.trigger-p1
            %a{href: "#"}
              Sell Bitcoin
              %span.glyphicon.glyphicon-arrow-right
              Stellar
              %span.badge.pull-right
          %li.trigger-p.trigger-p2
            %a{href: "#"}
              Sell Stellar
              %span.glyphicon.glyphicon-arrow-right
              Bitcoin
              %span.badge.pull-right 
          %li.trigger-p.trigger-p3
            %a{href: "#"}
              %span.glyphicon.glyphicon-save
              Receive BTC/STR
              %span.badge.pull-right 
          %li.trigger-p.trigger-p4
            %a{href: "#"} 
              %span.glyphicon.glyphicon-open
              Send BTC/STR
              %span.badge.pull-right 1
          %li.trigger-p.trigger-p5
            %a{href: "#"} 
              Transaction History
              %span.badge.pull-right 1
          %li.trigger-p.trigger-p6
            %a{href: "#"} 
              My Assets
              %span.badge.pull-right 1
      .container-fluid
        .row.col-xs-9.content-panel
          .content-p.content-p1
            %p Page for selling stellar for bitcoin
            .input-group
              <input type="text" class="form-control" placeholder="2.45">
              %span.input-group-addon BTC
            .input-group
              <input type="text" class="form-control" placeholder="2317.99">
              %span.input-group-addon STR
            .input-group
              <input type="text" class="form-control" placeholder="Email">
            .input-group
              <input type="text" class="form-control" placeholder="Password">
            .input-group
              <input type="text" class="form-control" placeholder="Confirm Password">

          .content-p.content-p2
            %p Page for selling bitcoin for stellar
          .content-p.content-p3
            %p Page for sending $
          .content-p.content-p4
            %p Page for receiving $
          .content-p.content-p5
            %p Page for txn history
          .content-p.content-p6
            %p Page for my assets



    :javascript
      $(function() {
        $('.content-p').hide();
        $('.content-p1').show();

        $('.trigger-p').on('click', function() {
          $('.trigger-p').removeClass('active');
          $(this).addClass('active');
        });

        $('.trigger-p1').on('click', function() {
          $('.content-p').hide();
          $('.content-p1').show();
        });

        $('.trigger-p2').on('click', function() {
          $('.content-p').hide();
          $('.content-p2').show();
        });

        $('.trigger-p3').on('click', function() {
          $('.content-p').hide();
          $('.content-p3').show();
        });

        $('.trigger-p4').on('click', function() {
          $('.content-p').hide();
          $('.content-p4').show();
        });

        $('.trigger-p5').on('click', function() {
          $('.content-p').hide();
          $('.content-p5').show();
        });

        $('.trigger-p6').on('click', function() {
          $('.content-p').hide();
          $('.content-p6').show();
        });

      })
